$black : #000000;
$yellow : #FFCE00;
$white: #FFFF;
$orange: #FF4713;

$content-font : Roboto;

*{
    margin: 0;
    padding: 0;
    
}

.alertDetailHeader {   
    
    font-family: $content-font;
    height: 100px;

    .headerButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }



    .blackrockLogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .alarmaIMG {
        height: 30px;
        margin: 0;
        padding: 0;
    }



    
}

.contentDetailAlert {
    background-color: $yellow;
    font-family: $content-font;
    color: $black;
    font-size: 14px;
    padding: 15px;
}

.textLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
    

    h3 {
        margin: auto 0;
        padding: 0;
    }
    
    p {
        font-size: 12px;
        margin: auto 5px;
        padding: 0;

        
    }
    
}

.regresiveCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $black;
    color: $white;
    font-family: $content-font;
    font-size: 15px;
    height: 60px;
    padding: 10px;

    h3, h1 {
        margin: auto 5px;
    }

}




table {

    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-spacing: 2px;
    border-color: gray;
    font-family: $content-font;
    font-size: 12px;
    margin: 20px auto;

    
    


}

tr {
    height: 40px;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }

  td {
      width: 200px;
  }

  th {
      background-color: $black;
      color: $white;
  }


  .fila {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30px;
      margin: auto;
      

      

      p {
          margin: auto 0;

      }

      .buttonLimite {
        margin: auto 0;
        border: none;
        background-color: $white;
        
        height: 100%;
        font-weight: 500;
        
        

      }

      link {
        margin: auto; 
        
                
      }

      .buttonDetails {
          border: none;          
          margin: auto; 
          height: 100%;
          font-weight: 500;
          font-size: 18px;

      }
  }


  .evaluationContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 200px;
      

      input {
          height: 100px;
          font-family: $content-font;
          width: 90%;
          margin: 0 auto;
      }

      .evaluationButtons {
          display: flex;
          flex-direction: row;
          justify-content: center;

        button {
            height: 50px;
            width: 100px;
            margin: 0 10px;
            font-family: $content-font;
        }

        .alertaReal {
            color: $white;
            background-color: $orange;
            border: none;
        }

        .falsoPositivo {
            border: 3px solid $orange;
            background-color: $white;

        }
      }


  }
