body{
    margin: 0;
}
.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: 'Roboto', Serif;
    padding: 20px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

tbody tr:nth-child(odd) {
    background-color: #EFEFEF;
}

tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

thead {
    background-color: #000000;
}

thead tr th { 
    color: white;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    font-size: 12px;
}


/* ------------------------------------ */


select {
    background: white;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 150px;
}

select:focus{ outline: none;}


.inputFiltros{
    background: white;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 150px;
}



.divFiltros{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFCE00;
    padding: 15px;
}

.divFiltro1{
    display: flex;
    width: 100%;
    justify-content: center;
    place-content: space-around;
    margin-bottom: 10px;
}

.divFiltro2{
    display: flex;
    width: 100%;
    justify-content: center;
    place-content: space-around;
    margin-bottom: 10px;
}

.divFiltro3{
    display: flex;
    width: 100%;
    justify-content: center;
    place-content: space-around;
    margin-bottom: 10px;
}

.divFiltro4{
    display: flex;
    width: 100%;
    justify-content: center;
    place-content: space-around;
    margin-bottom: 10px;
}


.logoBlackrock{
    display: flex;
    justify-content: center;
    align-items: center;
}